header {
  font-family:sans-serif;
       }
h1 {margin:0 ;
    letter-spacing: 3px ;
    text-transform:uppercase;
   }
body{
  margin:0;
border:dotted blue 6px;
}
body{
  padding:20px;
  margin: 30px;
}
.font-green{
  color: green;
}
#crazy-font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
#small-text {
  font-size: 8px;
}
